@charset "UTF-8";
@media (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

main {
  background: #f3f3f3;
}

@media (max-width: 767px) {
  main {
    padding-top: 60px;
  }
}

.section {
  margin: 120px 40px;
}

.utile-title {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}

@media (max-width: 767px) {
  .utile-title {
    font-size: 30px;
  }
}

.util-link {
  font-size: 14px;
  letter-spacing: 0.1em;
  color: red;
  border: solid 1px #3e3e3e;
  background: #fff;
  display: inline-block;
  padding: 10px 54px;
  -webkit-transition: background-color 0.4s, color 0.4s;
  transition: background-color 0.4s, color 0.4s;
}

.util-link.-active {
  background: red;
  color: #fff;
}

@media (min-width: 768px) {
  .util-link:not(.submit):hover {
    background: red;
    color: #fff;
  }
}

body {
  font-size: 16px;
  color: #3e3e3e;
  font-family: "游ゴシック", serif;
  line-height: 1.5;
}

img {
  width: 100%;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media (max-width: 767px) {
  .inner {
    padding: 0 15px;
  }
}

.drawer-hamburger-icon {
  background-color: #3e3e3e;
  right: 3px;
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 3px;
}

.header {
  background: #ffffff1a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 83px;
}

.header-inner {
  height: inherit;
  position: relative;
}

.header-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .header-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .header-nav-item + .header-nav-item {
    margin-left: 40px;
  }
}

.header-nav-item-link {
  display: block;
  color: #3e3e3e;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.top-img {
  position: relative;
  width: 100%;
  padding-top: 50%;
  background: url("../img/mv.png") center center/cover no-repeat;
}

.top-message {
  position: absolute;
  right: 40px;
  top: 38%;
  -webkit-transform: translateY(-35%);
          transform: translateY(-35%);
  width: 600px;
}

.top-title {
  font-weight: bold;
  font-size: 32px;
}

.top-txt {
  margin-top: 40px;
  font-size: 18px;
  font-weight: bold;
}

.top-button {
  margin-top: 40px;
}

.top-button-link {
  font-weight: bold;
  font-size: 18px;
  background: #ffaa3b;
  color: #fff;
  padding: 16px 50px;
  border-radius: 10px;
  -webkit-box-shadow: #3e3e3e33 0 3px 5px;
          box-shadow: #3e3e3e33 0 3px 5px;
}

.news {
  background: #fff;
}

.news-inner {
  padding: 60px 60px 80px 60px;
  -webkit-box-shadow: #3e3e3e33 0 5px 12px;
          box-shadow: #3e3e3e33 0 5px 12px;
}

.news-item {
  padding: 32px 0;
}

.news-item:first-child {
  margin-top: 60px;
  border-top: 1px solid #cecdcd;
  border-bottom: 1px solid #cecdcd;
}

.news-item + .news-item {
  border-bottom: 1px solid #cecdcd;
}

.news-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-item-date {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  width: 98px;
  margin-right: 40px;
}

.news-lavel {
  display: inline-block;
  width: 121px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50px;
  font-size: 14px;
  border: 2px solid #3b69ff;
  margin-right: 40px;
}

.news-item-body {
  width: calc(100% - 98px - 121px);
  font-size: 18px;
  margin-right: 40px;
}

.news-right {
  margin: 0 auto;
}

.news-item-img {
  width: 10.5px;
  height: 21.5px;
}

.news-footer {
  margin-top: 80px;
  text-align: center;
}

.news-footer .news-footer-link {
  border: 1px solid #3e3e3e;
  padding: 20px 80px;
}

.service {
  margin: 120px 0 240px 0;
}

.service-bg {
  background: #3e3e3e;
  height: 400px;
  position: relative;
}

.service-bg .service-title {
  color: #fff;
  padding-top: 60px;
}

.service-container {
  margin: 60px auto;
  background: #fff;
  width: 960px;
  height: 331px;
  -webkit-box-shadow: #3e3e3e33 0 5px 12px;
          box-shadow: #3e3e3e33 0 5px 12px;
}

.service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-item {
  margin: 0 45px;
}

.service-item-img {
  margin: 60px auto 8px;
  width: 64px;
  height: 64px;
}

.service-item-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  font-family: "Montserrat", sans-serif;
}

.service-item-txt {
  font-size: 14px;
  line-height: 1.7;
  margin-top: 20px;
  width: 230px;
}

.swiper-container {
  padding-bottom: 80px;
}

.swiper-pagination-bullet {
  opacity: 1;
  background: #fff;
  height: 12px;
  width: 12px;
}

.swiper-pagination-bullet-active {
  position: relative;
}

.swiper-pagination-bullet-active::after {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  content: "";
  border: solid 1px #fff;
  top: -40%;
  left: -40%;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  padding-left: 5px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 20px;
}

.swiper-pagination {
  text-align: left;
}

.result-inner {
  background: #3e3e3e;
  padding: 60px 0 80px 60px;
  margin-left: 40px;
}

.results-title {
  color: #fff;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-bottom: 60px;
}

.results-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.results-item {
  width: 400px;
  height: 366px;
  margin-right: 40px;
}

.result-item-body {
  background: #fff;
  padding: 16px;
}

.results-item-title {
  font-size: 20px;
  font-weight: bold;
}

.results-footer {
  margin-top: 40px;
}

.results-link {
  border: #fff 1px solid;
  color: #fff;
  padding: 20px 80px;
}

.price {
  padding: 120px 0;
}

.price-table {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.table {
  width: inherit;
  border-collapse: collapse;
  border: solid 1px #707070;
  font-size: 24px;
  font-weight: 500;
  table-layout: fixed;
}

.table th,
.table td {
  border: solid 1px #707070;
  padding: 16px;
}

.table th {
  width: 262px;
  background: #3e3e3e;
  color: #fff;
}

.table td {
  width: calc(100% - 262px);
  background: #fff;
}

.price-table-txt {
  font-size: 14px;
  margin-top: 10px;
}

.comments {
  margin-top: 140px;
}

.comments-bg {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#3e3e3e), color-stop(76%, #3e3e3e), color-stop(76%, #f3f3f3), to(#f3f3f3));
  background: linear-gradient(to right, #3e3e3e 0%, #3e3e3e 76%, #f3f3f3 76%, #f3f3f3 100%);
  width: 100%;
  height: 576px;
}

.comments-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments-left {
  position: absolute;
  width: 52%;
  background: #fff;
  top: -150px;
  height: 604px;
}

.comments-title {
  font-size: 36px;
  margin: 120px 60px 60px 60px;
  font-weight: bold;
}

.comments-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments-item-img img {
  width: 100px;
  margin: 0 32px 60px 60px;
}

.comments-item-message {
  width: 60%;
}

.comments-right {
  position: absolute;
  right: 40px;
  top: -70px;
}

.qa {
  height: 952px;
  background: url("../img/qa-bg.png") center center/cover;
  padding: 60px 0 120px 0;
}

.qa-container {
  margin-top: 60px;
}

.qa-item {
  margin-right: 40px;
  overflow: hidden;
  margin-bottom: 32px;
  margin-left: auto;
  background: #fff;
  width: 612px;
  padding: 16px;
  border-radius: 4px;
}

.qa-box-q {
  position: relative;
}

.q-txt {
  margin-left: 35px;
}

.q-txt::before {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  content: "Q";
  background: #3b69ff;
  border-radius: 50%;
  top: 0;
  left: 0;
  color: #fff;
  font-weight: 700;
  width: 24px;
  height: 24px;
  text-align: center;
}

.qa-box-icon {
  width: 17px;
  height: 17px;
  position: absolute;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.qa-box-icon.is-open .qa-box-bar2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.qa-box-bar1 {
  width: 17px;
  height: 3px;
  border-radius: 20px;
  background: #3b69ff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 14.5%;
}

.qa-box-bar2 {
  width: 3px;
  height: 17px;
  background: #3b69ff;
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.qa-box-a {
  display: none;
}

.qa-box-content {
  margin-top: 18px;
  background: #3b69ff33;
  border-radius: 4px;
  padding: 16px;
}

.access {
  margin-bottom: 256px;
}

.access-left {
  background: -webkit-gradient(linear, left top, right top, from(#3e3e3e), color-stop(76%, #3e3e3e), color-stop(76%, #f3f3f3), to(#f3f3f3));
  background: linear-gradient(to right, #3e3e3e 0%, #3e3e3e 76%, #f3f3f3 76%, #f3f3f3 100%);
  padding: 120px 100px;
  color: #fff;
  position: relative;
}

.access-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.access-info {
  margin-top: 60px;
}

.access-link {
  margin-top: 52px;
}

.access-link-map {
  border: 1px solid #fff;
  padding: 20px 80px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.access-right {
  position: absolute;
  top: 120px;
  right: 40px;
  width: 60%;
}

.iframe-wrap iframe {
  height: 520px;
  width: 100%;
}

.contact {
  background: url("../img/contact-bg.png") center center/cover;
}

.contact-container {
  padding: 60px 160px;
  width: 90%;
  margin: 0 auto;
}

.contact-header {
  text-align: center;
  background: url("../img/contact1.png") center center/cover;
  color: #fff;
  border-radius: 12px 12px 0px 0px;
}

.contact-header-title {
  font-size: 36px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  padding: 60px 0 16px 0;
}

.contact-header-txt {
  padding-bottom: 60px;
}

.contact-form {
  background: #fff;
  padding: 60px 70px 44px 70px;
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-item-title {
  width: 128px;
  margin-right: 60px;
  font-weight: 700;
}

.item-select {
  border: 1px solid #707070;
  padding: 6px 12px;
}

.item-select:hover {
  -webkit-box-shadow: #4973ff80 0 0 5px;
          box-shadow: #4973ff80 0 0 5px;
}

select {
  outline: none;
  border: none;
}

.is-require {
  display: inline-block;
  position: relative;
}

.is-require::after {
  margin-left: 10px;
  content: "必須";
  position: absolute;
  top: 0;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background: #e81919;
  text-align: center;
  border-radius: 4px;
  padding: 2px 8px;
  line-height: 1;
}

.contact-item-input {
  width: calc(100% - 128px);
}

input[type="text"],
input[type="email"] {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #707070;
  padding-left: 10px;
}

input[type="email"]:focus,
input[type="text"]:focus {
  border-bottom: 1px solid #4973ff;
  -webkit-box-shadow: 0 5px 4px #4973ff80;
          box-shadow: 0 5px 4px #4973ff80;
  width: 100%;
  outline: 0;
}

textarea {
  min-height: 122px;
  resize: vertical;
}

.radio-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.contact-radio-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.radio {
  margin-right: 20px;
}

.radio-part::before {
  margin-right: 8px;
  content: "";
  border-radius: 50%;
  border: 1px solid #707070;
  width: 12px;
  height: 12px;
}

.radio-input:checked + .radio-part::after {
  content: "";
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #3b69ff;
  position: absolute;
  left: 4px;
}

.radio-part {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-item-input {
  width: 100%;
}

.contact-item-input textarea {
  width: 720px;
  height: 200px;
  border: 1px #707070 solid;
}

.contact-privacy {
  position: relative;
  margin-left: 21.32px;
}

.contact-privacy-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.contact-privacy-part::before {
  position: absolute;
  left: -21.32px;
  display: block;
  border: 1px solid orange;
  content: '';
  width: 16px;
  height: 16px;
}

.contact-privacy-input:checked +
.contact-privacy-part::after {
  position: absolute;
  top: 2px;
  left: -15px;
  display: block;
  border-right: 1px solid orange;
  border-bottom: 1px solid orange;
  content: '';
  width: 5px;
  height: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
