@charset "UTF-8";
@media (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .is-sp {
    display: none;
  }
}

main {
  background: #f3f3f3;
}

@media (max-width: 767px) {
  main {
    padding-top: 68px;
  }
}

.section {
  margin: 120px 40px;
}

@media (max-width: 767px) {
  .section {
    margin: 0;
  }
}

.utile-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}

@media (max-width: 767px) {
  .utile-title {
    font-size: 30px;
  }
}

.util-link {
  font-size: 14px;
  letter-spacing: 0.1em;
  color: red;
  border: solid 1px #3e3e3e;
  background: #fff;
  display: inline-block;
  padding: 10px 54px;
  -webkit-transition: background-color 0.4s, color 0.4s;
  transition: background-color 0.4s, color 0.4s;
}

.util-link.-active {
  background: red;
  color: #fff;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .util-link:not(.submit):hover {
    background: red;
    color: #fff;
  }
}

body {
  font-size: 16px;
  color: #3e3e3e;
  font-family: "Montserrat", "游ゴシック", serif;
  line-height: 1.5;
}

img {
  width: 100%;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media (max-width: 767px) {
  .inner {
    margin: 0 auto;
    max-width: 343px;
  }
}

@media (max-width: 767px) {
  .inner-sp {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    margin: 0 auto;
    max-width: 343px;
  }
}

.drawer-hamburger-icon {
  background-color: #3e3e3e;
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 3px;
}

.header {
  background: #ffffff1a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  height: 83px;
}

@media (max-width: 767px) {
  .header {
    background: #f3f3f3;
    height: 68px;
  }
}

.header-inner {
  height: inherit;
  position: relative;
}

.header-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .header-nav-list {
    display: none;
  }
}

.header-nav-item {
  padding: 0 19px;
}

.header-nav-item:hover {
  border-bottom: #3e3e3e 1px solid;
}

.header-nav-item-link {
  display: block;
  color: #3e3e3e;
  font-weight: 500;
}

.sp {
  display: none;
}

@media (max-width: 767px) {
  .sp {
    display: block;
  }
}

.drawer-icon-wrapper {
  display: none;
}

@media (max-width: 767px) {
  .drawer-icon-wrapper {
    position: fixed;
    top: 25px;
    right: 20px;
    z-index: 300;
    display: block;
  }
}

.drawer-icon-wrapper.is-active {
  right: 84%;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.drawer-icon-wrapper.is-active .icon-bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 1s ease 0s;
  transition: -webkit-transform 1s ease 0s;
  transition: transform 1s ease 0s;
  transition: transform 1s ease 0s, -webkit-transform 1s ease 0s;
  top: 8px;
}

.drawer-icon-wrapper.is-active .icon-bar2 {
  display: none;
}

.drawer-icon-wrapper.is-active .icon-bar3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform 1s ease 0s;
  transition: -webkit-transform 1s ease 0s;
  transition: transform 1s ease 0s;
  transition: transform 1s ease 0s, -webkit-transform 1s ease 0s;
  top: 8px;
}

.header-title-sp {
  font-size: 23px;
  font-weight: 700;
  padding: 20px 16px;
}

.drawer-icon-bars {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
}

.drawer-icon {
  position: absolute;
  width: 24px;
  height: 4px;
  background: #3e3e3e;
  top: 0;
  left: 0;
  -webkit-transform: all 5s;
          transform: all 5s;
}

.drawer-icon.is-active {
  background: #fff;
}

.icon-bar1 {
  top: 0;
}

.icon-bar2 {
  top: 8px;
}

.icon-bar3 {
  top: 16px;
}

@media (max-width: 767px) {
  .drawer-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 298;
    display: none;
    background: rgba(62, 62, 62, 0.7);
  }
}

.header-inner-sp {
  padding-top: 160px;
  width: 80%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  z-index: 300;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.header-inner-sp.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header-nav-sp {
  text-align: center;
}

.header-nav-item-sp {
  margin-bottom: 27px;
}

.header-nav-item-link-sp {
  color: #3e3e3e;
  font-size: 18px;
  font-weight: 600;
}

.top-img {
  padding-bottom: 7px;
  position: relative;
  width: 100%;
  padding-top: 50%;
  background: url("../img/mv.png") center center/cover no-repeat;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .top-img {
    height: 500px;
  }
}

@media (max-width: 767px) {
  .top-img {
    height: 599px;
    background: url("../img/mv.png") 21% 130% no-repeat;
  }
}

.top-message {
  position: absolute;
  right: 40px;
  top: 50%;
  -webkit-transform: translateY(-38%);
          transform: translateY(-38%);
  width: 600px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .top-message {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media (max-width: 767px) {
  .top-message {
    width: 100%;
    position: static;
  }
}

.top-title {
  font-weight: 700;
  font-size: 32px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .top-title {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .top-title {
    font-size: 24px;
    margin-top: 45px;
  }
}

.top-txt {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .top-txt {
    font-size: 14px;
    margin-top: 20px;
  }
}

.top-button {
  margin-top: 40px;
}

@media (max-width: 767px) {
  .top-button {
    text-align: center;
  }
}

.top-button-link {
  font-weight: bold;
  font-size: 18px;
  background: #ffaa3b;
  color: #fff;
  padding: 16px 50px;
  border-radius: 10px;
  -webkit-box-shadow: #3e3e3e33 0 3px 5px;
          box-shadow: #3e3e3e33 0 3px 5px;
}

@media (max-width: 767px) {
  .top-button-link {
    padding: 16px 32px;
    font-size: 16px;
  }
}

.top-button-link:hover {
  background: #f18900;
}

.news {
  position: relative;
}

@media (max-width: 767px) {
  .news {
    top: -40px;
  }
}

.news-inner {
  padding: 60px;
  padding-bottom: 58px;
  -webkit-box-shadow: #3e3e3e33 0 5px 12px;
          box-shadow: #3e3e3e33 0 5px 12px;
  background: #fff;
}

@media (max-width: 767px) {
  .news-inner {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.news-title {
  padding-top: 6px;
}

@media (max-width: 767px) {
  .news-title {
    padding-top: 45px;
    margin-bottom: 42px;
  }
}

.news-item {
  padding: 38px 0;
}

@media (max-width: 767px) {
  .news-item {
    padding: 12px 17px 14px;
  }
}

.news-item:first-child {
  margin-top: 63px;
  border-top: 1px solid #cecdcd;
  border-bottom: 1px solid #cecdcd;
}

@media (max-width: 767px) {
  .news-item:first-child {
    margin-top: 30px;
  }
}

.news-item + .news-item {
  border-bottom: 1px solid #cecdcd;
}

.news-item:hover {
  background: #4973ff1a;
}

.news-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3e3e3e;
}

@media (max-width: 767px) {
  .news-item-link {
    display: block;
  }
}

.news-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-item-date {
  font-size: 18px;
  width: 98px;
  margin-right: 40px;
  margin-top: 4px;
}

@media (max-width: 767px) {
  .news-item-date {
    font-size: 14px;
    width: 76px;
    margin-right: 20px;
  }
}

.news-label {
  display: inline-block;
  width: 121px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50px;
  font-size: 14px;
  border: 2px solid #3b69ff;
  margin-right: 40px;
  background: #fff;
}

@media (max-width: 767px) {
  .news-label {
    font-size: 12px;
    width: 81px;
    height: 20px;
    line-height: 20px;
  }
}

.news-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(91% - 98px - 121px);
}

@media (max-width: 767px) {
  .news-body {
    width: 100%;
  }
}

.news-item-body {
  font-size: 18px;
  margin-right: 40px;
}

@media (max-width: 767px) {
  .news-item-body {
    font-size: 14px;
    margin-right: 20px;
  }
}

.news-right {
  margin-left: auto;
}

.news-item-img {
  width: 10.75px;
  height: 21.5px;
}

.news-footer {
  margin-top: 59px;
  text-align: center;
}

@media (max-width: 767px) {
  .news-footer {
    margin-top: 50px;
  }
}

.news-footer .news-footer-link {
  border: 1px solid #3e3e3e;
  padding: 14px 93px;
  color: #3e3e3e;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 4px;
}

.news-footer .news-footer-link:hover {
  background: #3e3e3e;
  color: #fff;
}

.service {
  margin: 120px 0 211px 0;
}

@media (max-width: 767px) {
  .service {
    margin: 24px 0 390px 0;
  }
}

.service-bg {
  background: #3e3e3e;
  height: 480px;
  position: relative;
}

.service-bg .service-title {
  color: #fff;
  padding-top: 60px;
}

@media (max-width: 767px) {
  .service-bg .service-title {
    padding-top: 42px;
  }
}

.service-container {
  margin: 43px auto 60px;
  background: #fff;
  width: 75%;
  height: 331px;
  -webkit-box-shadow: #3e3e3e33 0 5px 12px;
          box-shadow: #3e3e3e33 0 5px 12px;
}

@media (max-width: 767px) {
  .service-container {
    width: 100%;
    padding-top: 40px;
    height: 656px;
  }
}

.service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .service-list {
    display: block;
  }
}

.service-item {
  margin: 0 45px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .service-item {
    margin: 0 20px;
  }
}

@media (max-width: 767px) {
  .service-item {
    margin: 12px 19px 47px;
  }
}

.service-item-img {
  margin: 79px auto 1px;
  width: 50px;
  height: 50px;
}

@media (max-width: 767px) {
  .service-item-img {
    margin: 0 auto 8px;
  }
}

.service-item-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 4px;
}

.service-item-txt {
  font-size: 14px;
  line-height: 1.7;
  margin-top: 16px;
}

@media (max-width: 767px) {
  .service-item-txt {
    width: 100%;
    margin-top: 12px;
  }
}

.swiper-container {
  padding-bottom: 73px;
}

@media (max-width: 767px) {
  .swiper-container {
    height: 310px;
    padding-left: 16px;
  }
}

.swiper-pagination-bullet {
  opacity: 1;
  background: #fff;
  height: 12px;
  width: 12px;
}

.swiper-pagination-bullet-active {
  position: relative;
}

.swiper-pagination-bullet-active::after {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  content: "";
  border: solid 1px #fff;
  top: -40%;
  left: -40%;
}

@media (max-width: 767px) {
  .swiper-container-horizontal >
.swiper-pagination-bullets
.swiper-pagination-bullet {
    padding: 0 5px;
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  padding-left: 5px;
}

@media (max-width: 767px) {
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    padding-left: 10px;
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 15px;
}

.swiper-pagination {
  text-align: left;
}

@media (max-width: 767px) {
  .swiper-pagination {
    text-align: center;
  }
}

.result-inner {
  background: #3e3e3e;
  padding: 60px 0 85px 60px;
  margin-left: 40px;
}

@media (max-width: 767px) {
  .result-inner {
    padding: 35px 0 51px;
    margin: 0;
  }
}

.results-title {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 52px;
}

@media (max-width: 767px) {
  .results-title {
    font-size: 30px;
    margin-bottom: 38px;
    text-align: center;
  }
}

.results-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.results-item {
  width: 300px;
  height: 366px;
}

@media (max-width: 767px) {
  .results-item {
    margin-right: 20px;
    width: 275px;
  }
}

.result-item-body {
  background: #fff;
  padding: 16px;
}

@media (max-width: 767px) {
  .result-item-body {
    padding: 9px 12px 15px;
  }
}

.results-item-title {
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .results-item-title {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .results-item-txt {
    font-size: 12px;
  }
}

.results-footer {
  margin-top: 40px;
}

@media (max-width: 767px) {
  .results-footer {
    text-align: center;
    margin-top: 25px;
  }
}

.results-link {
  border: #fff 1px solid;
  color: #fff;
  padding: 20px 80px;
}

@media (max-width: 767px) {
  .results-link {
    margin: 0 auto;
    padding: 15px 99px;
    font-size: 18px;
    letter-spacing: 3.6px;
  }
}

.results-link:hover {
  background: #fff;
  color: #3e3e3e;
}

.price {
  padding: 130px 0;
}

@media (max-width: 767px) {
  .price {
    padding: 45px 0;
  }
}

.price-table {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

@media (max-width: 767px) {
  .price-table {
    width: 100%;
    margin-top: 42px;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: solid 1px #707070;
  font-size: 24px;
  font-weight: 600;
  table-layout: fixed;
}

@media (max-width: 767px) {
  .table {
    font-size: 20px;
  }
}

.table th,
.table td {
  border: solid 1px #707070;
  padding: 12px 40px;
  padding-right: 39px;
}

@media (max-width: 767px) {
  .table th,
  .table td {
    padding: 12px 0;
  }
}

.table th {
  width: 262px;
  background: #3e3e3e;
  color: #fff;
}

@media (max-width: 767px) {
  .table th {
    width: 100px;
  }
}

.table td {
  width: calc(100% - 262px);
  background: #fff;
}

@media (max-width: 767px) {
  .table td {
    width: calc(100% - 100px);
    padding-left: 20px;
  }
}

.price-table-txt {
  font-size: 12px;
  margin-top: 7px;
}

@media (max-width: 767px) {
  .price-table-txt {
    font-size: 12px;
    margin-top: 8px;
  }
}

.comments {
  margin-top: 140px;
}

@media (max-width: 767px) {
  .comments {
    margin-top: 70px;
  }
}

.comments-bg {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#3e3e3e), color-stop(76.5%, #3e3e3e), color-stop(76.5%, #f3f3f3), to(#f3f3f3));
  background: linear-gradient(to right, #3e3e3e 0%, #3e3e3e 76.5%, #f3f3f3 76.5%, #f3f3f3 100%);
  width: 100%;
  height: 570px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .comments-bg {
    background: -webkit-gradient(linear, left top, right top, from(#3e3e3e), color-stop(90%, #3e3e3e), color-stop(90%, #f3f3f3), to(#f3f3f3));
    background: linear-gradient(to right, #3e3e3e 0%, #3e3e3e 90%, #f3f3f3 90%, #f3f3f3 100%);
  }
}

@media (max-width: 767px) {
  .comments-bg {
    height: 425.5px;
    background: #3e3e3e;
  }
}

.comments-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .comments-container {
    display: block;
  }
}

.comments-left {
  position: absolute;
  width: 52%;
  background: #fff;
  top: -155px;
  height: 604px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .comments-left {
    width: inherit;
    margin: 0 20px;
  }
}

@media (max-width: 767px) {
  .comments-left {
    width: inherit;
    height: 426px;
    top: -63px;
  }
}

.comments-title {
  font-size: 36px;
  margin: 115px 60px 55px 60px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .comments-title {
    margin: 40px 20px 32px;
    font-size: 30px;
  }
}

.comments-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .comments-item {
    margin-bottom: 30px;
  }
}

.comments-item-img img {
  width: 100px;
  margin: 0 32px 60px 60px;
}

@media (max-width: 767px) {
  .comments-item-img img {
    width: 60px;
    margin: 0 20px 20px;
  }
}

.comments-item-message {
  width: 60%;
}

@media (max-width: 767px) {
  .comments-item-message {
    font-size: 14px;
  }
}

.comments-right {
  position: absolute;
  right: 40px;
  top: -75px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .comments-right {
    display: none;
  }
}

@media (max-width: 767px) {
  .comments-right {
    display: none;
  }
}

.qa {
  height: 952px;
  background: url("../img/qa-bg.png") center center/cover;
  padding: 60px 0 120px 0;
}

@media (max-width: 767px) {
  .qa {
    height: 820px;
    padding-top: 45px;
  }
}

.qa-container {
  margin-top: 69px;
}

@media (max-width: 767px) {
  .qa-container {
    margin-top: 40px;
  }
}

.qa-item {
  margin-right: 40px;
  overflow: hidden;
  margin-bottom: 32px;
  margin-left: auto;
  background: #fff;
  width: 612px;
  padding: 15px;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .qa-item {
    width: 100%;
    margin: 0 auto 24px;
  }
}

.qa-box-q {
  position: relative;
}

.q-txt {
  margin-left: 41px;
}

.q-txt::before {
  position: absolute;
  content: "Q";
  background: #3b69ff;
  border-radius: 50%;
  top: 50%;
  left: 0;
  color: #fff;
  font-weight: 700;
  width: 24px;
  height: 24px;
  text-align: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.qa-box-icon {
  width: 17px;
  height: 17px;
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.qa-box-icon.is-open .qa-box-bar2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.qa-box-bar1 {
  width: 17px;
  height: 3px;
  border-radius: 20px;
  background: #3b69ff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 14.5%;
}

.qa-box-bar2 {
  width: 3px;
  height: 17px;
  background: #3b69ff;
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.qa-box-a {
  display: none;
}

.qa-box-content {
  margin-top: 18px;
  background: #3b69ff33;
  border-radius: 4px;
  padding: 12px 12px 12px 16px;
}

.access {
  margin-bottom: 256px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .access {
    background: #3e3e3e;
    height: 600px;
    margin-bottom: 0;
    position: relative;
  }
}

@media (max-width: 767px) {
  .access {
    margin-bottom: 0;
  }
}

.access-left {
  background: -webkit-gradient(linear, left top, right top, from(#3e3e3e), color-stop(76%, #3e3e3e), color-stop(76%, #f3f3f3), to(#f3f3f3));
  background: linear-gradient(to right, #3e3e3e 0%, #3e3e3e 76%, #f3f3f3 76%, #f3f3f3 100%);
  padding: 115px 100px 137px;
  color: #fff;
  position: relative;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .access-left {
    background: #3e3e3e;
    padding: 60px 50px;
    height: inherit;
  }
}

@media (max-width: 767px) {
  .access-left {
    background: #3e3e3e;
    position: static;
    padding: 38px 0 73px;
  }
}

.access-title {
  font-weight: 600;
  font-size: 36px;
}

@media (max-width: 767px) {
  .access-title {
    font-size: 30px;
  }
}

.access-info {
  margin-top: 52px;
}

@media (max-width: 767px) {
  .access-info {
    font-size: 14px;
    margin-top: 31px;
  }
}

.access-link {
  margin-top: 45px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .access-link {
    position: absolute;
  }
}

@media (max-width: 767px) {
  .access-link {
    text-align: center;
    margin-top: 30px;
  }
}

.access-link-map {
  border: 1px solid #fff;
  padding: 20px 80px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  .access-link-map {
    font-size: 18px;
    padding: 15px 97px;
  }
}

.access-link-map:hover {
  background: #fff;
  color: #3e3e3e;
}

.access-right {
  position: absolute;
  top: 120px;
  right: 0;
  width: 60%;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .access-right {
    top: 25px;
    right: 25px;
    width: 50%;
  }
}

@media (max-width: 767px) {
  .access-right {
    margin-top: 19px;
    position: static;
    width: 100%;
  }
}

.iframe-wrap iframe {
  height: 520px;
  width: 100%;
}

@media (max-width: 767px) {
  .iframe-wrap iframe {
    height: 241px;
  }
}

.contact {
  background: url("../img/contact-bg.png") center center/cover;
}

.contact-container {
  padding: 60px 97px;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .contact-container {
    padding: 30px 0;
  }
}

@media (max-width: 767px) {
  .contact-container {
    width: 100%;
    padding: 40px 0;
  }
}

.contact-header {
  text-align: center;
  background: url("../img/contact1.png") center center/cover no-repeat;
  color: #fff;
  border-radius: 12px 12px 0px 0px;
}

@media (max-width: 767px) {
  .contact-header {
    padding: 0 16px;
  }
}

.contact-header-title {
  font-size: 36px;
  font-weight: 700;
  padding: 55px 0 7px 0;
}

@media (max-width: 767px) {
  .contact-header-title {
    font-weight: 600;
    font-size: 30px;
    padding: 38px 0 3px 0;
  }
}

.contact-header-txt {
  padding-bottom: 55px;
}

@media (max-width: 767px) {
  .contact-header-txt {
    padding-bottom: 36px;
    font-size: 14px;
    text-align: left;
  }
}

.contact-form {
  background: #fff;
  padding: 60px 120px;
  border-radius: 0 0 12px 12px;
}

@media (max-width: 767px) {
  .contact-form {
    padding: 37px 12px;
  }
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .contact-item {
    display: block;
    margin-bottom: 30px;
  }
}

.contact-item dd {
  width: calc(100% - 140px);
}

@media (max-width: 767px) {
  .contact-item dd {
    width: 100%;
  }
}

.contact-item-title {
  width: 140px;
  margin-right: 60px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .contact-item-title {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .contact-item-title-select {
    margin-bottom: 10px;
  }
}

.item-select {
  width: 178px;
  border: 1px solid #707070;
  padding: 6px 8px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .item-select {
    width: 100%;
  }
}

.item-select:hover {
  -webkit-box-shadow: rgba(73, 115, 255, 0.5) 0 0 5px;
          box-shadow: rgba(73, 115, 255, 0.5) 0 0 5px;
}

select {
  outline: none;
  border: none;
  width: 153px;
}

@media (max-width: 767px) {
  select {
    width: 299px;
    background: transparent;
  }
}

.is-require {
  display: inline-block;
  position: relative;
}

.is-require::after {
  margin-left: 12px;
  content: "必須";
  position: absolute;
  top: 0;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background: #e81919;
  text-align: center;
  border-radius: 4px;
  padding: 2px 8px;
  line-height: 1;
}

@media (max-width: 767px) {
  .is-require::after {
    margin-left: 19px;
  }
}

input[type="text"],
input[type="email"] {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #707070;
  padding-left: 10px;
}

@media (max-width: 767px) {
  input[type="text"],
  input[type="email"] {
    height: 30px;
  }
}

input[type="email"]:focus,
input[type="text"]:focus {
  border-bottom: 1px solid #4973ff;
  -webkit-box-shadow: 0px 5px 4px -5px rgba(73, 115, 255, 0.5);
          box-shadow: 0px 5px 4px -5px rgba(73, 115, 255, 0.5);
  width: 100%;
  outline: 0;
}

.radio-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.contact-radio-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .contact-radio-wrap {
    margin-top: 2px;
  }
}

.radio {
  margin-right: 35px;
}

@media (max-width: 767px) {
  .radio {
    margin-right: 40px;
  }
}

.radio-part::before {
  margin-right: 8px;
  content: "";
  border-radius: 50%;
  border: 1px solid #707070;
  width: 12px;
  height: 12px;
}

@media (max-width: 767px) {
  .radio-part::before {
    width: 10px;
    height: 10px;
  }
}

.radio-part:hover::before {
  border: 1px solid #3b69ff;
  -webkit-box-shadow: #4973ff33 0 0 6px;
          box-shadow: #4973ff33 0 0 6px;
}

.radio-part:active::before {
  border: 1px solid #3b69ff;
  background: #4973ff33;
}

.radio-input:checked + .radio-part::after {
  content: "";
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #3b69ff;
  position: absolute;
  left: 4px;
}

@media (max-width: 767px) {
  .radio-input:checked + .radio-part::after {
    left: 3px;
  }
}

.radio-part {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-item-input {
  width: 100%;
}

.contact-item-textarea textarea {
  margin-top: 7px;
  width: inherit;
  height: 198px;
  border: 1px #707070 solid;
  min-height: 122px;
  resize: vertical;
}

@media (max-width: 767px) {
  .contact-item-textarea textarea {
    height: 160px;
  }
}

.contact-item-textarea textarea:focus {
  border-bottom: 1px solid #4973ff;
  -webkit-box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
          box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
  outline: 0;
}

.contact-footer {
  margin-top: 30px;
}

@media (max-width: 767px) {
  .contact-footer {
    margin-top: 25px;
  }
}

.contact-privacy {
  position: relative;
  margin-left: 21.32px;
  cursor: pointer;
}

.contact-privacy-part {
  font-size: 18px;
  font-weight: 700;
  margin-left: 19px;
}

@media (max-width: 767px) {
  .contact-privacy-part {
    font-size: 16px;
  }
}

.contact-privacy-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.contact-privacy-part::before {
  position: absolute;
  left: -21.32px;
  display: block;
  border: 1px solid #707070;
  content: "";
  width: 18px;
  height: 18px;
}

@media (max-width: 767px) {
  .contact-privacy-part::before {
    width: 16px;
    height: 16px;
  }
}

.contact-privacy-input:checked + .contact-privacy-part::after {
  position: absolute;
  top: 0;
  left: -15px;
  display: block;
  border-right: 2px solid #3b69ff;
  border-bottom: 2px solid #3b69ff;
  content: "";
  width: 5px;
  height: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.contact-privacy-part:hover::before {
  border: 1px solid #3b69ff;
  -webkit-box-shadow: #4973ff33 0 0 6px;
          box-shadow: #4973ff33 0 0 6px;
}

.contact-privacy-part:active::before {
  border: 1px solid #3b69ff;
  background: #4973ff33;
}

@media (max-width: 767px) {
  .contact-footer-submit {
    text-align: center;
  }
}

.contact-submit {
  background: #B2B2B2;
  color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: #00000033 0 3px 5px;
          box-shadow: #00000033 0 3px 5px;
  border: none;
  margin-top: 35px;
  padding: 13px 46px;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .contact-submit {
    font-size: 16px;
    margin-top: 29px;
  }
}

.contact-submit.is-active {
  background: #FFAA3B;
}

.contact-submit.is-active:hover {
  background: #F18900;
}

footer {
  background: #3e3e3e;
  color: #fff;
}

@media (max-width: 767px) {
  footer {
    text-align: center;
  }
}

.footer-inner {
  padding: 60px 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .footer-inner {
    display: block;
    padding: 60px 0 57px;
  }
}

.footer-sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 23px;
}

@media (max-width: 767px) {
  .footer-sns-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 36px;
  }
}

.footer-sns-item-link .fab {
  color: #fff;
  opacity: 0.6;
  font-size: 35px;
}

.footer-sns-item-link:first-child {
  margin-right: 20px;
}

@media (max-width: 767px) {
  .footer-sns-item-link:first-child {
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .footer-sns-item-link:last-child {
    margin-left: 25px;
  }
}

.footer-nav-item {
  margin-top: 25px;
}

@media (max-width: 767px) {
  .footer-nav-item {
    margin-top: 0;
    margin-bottom: 16px;
  }
}

.footer-nav-item-link {
  color: #fff;
  opacity: 0.6;
  margin-bottom: 24px;
}

@media (max-width: 767px) {
  .footer-nav-item-link {
    font-size: 14px;
  }
}

.footer-title {
  font-size: 40px;
  color: #e3e3e3;
  font-weight: 700;
}

@media (max-width: 767px) {
  .footer-title {
    font-size: 32px;
    margin-top: 32px;
  }
}

.footer-txt {
  font-size: 12px;
  text-align: right;
  opacity: 0.6;
}

@media (max-width: 767px) {
  .footer-txt {
    text-align: center;
    margin-top: 16px;
  }
}

.to-top {
  position: fixed;
  right: 40px;
  bottom: 55px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 767px) {
  .to-top {
    right: 12px;
    bottom: 12px;
  }
}

.to-top a img {
  width: 50px;
}

@media (max-width: 767px) {
  .to-top a img {
    width: 50px;
  }
}

.to-top.is-active {
  visibility: visible;
  opacity: 1;
}
